* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #f5f4f4;
}

.blockquote p {
    padding: 1rem 0;
    font-size: 1.1rem;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.ml-1,
.mx-1 {
    margin-left: 0.25rem !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.bq-warning {
    border-left: 3px solid blue !important;
    border-radius: 0.25rem;
}

.blockquote {
    padding: 0.5rem 1rem;
    border-left: 0.25rem solid #eceeef;
}

.blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    background: #ffffff;
}

.design2 {
    margin: 0px;
    border-radius: 0.25rem;
    background: #ffffff;
    box-shadow: 0px 0px 10px #c4c4c4,
        -0px -0px 0px #ffffff;
}
.display-6 {
    font-size: 1.5rem;
}
.name {
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.navbar {
    --mdb-navbar-box-shadow: 0 4px 12px 0 rgb(95, 95, 93), 0 2px 4px rgb(0 0 0);
}
.bg-body1 {
    --mdb-bg-opacity: 1;
    background: radial-gradient(circle at 10% 20%, rgb(124 137 255) 0%, rgb(252 177 121) 90%);
}
.page-footer {
    background-color: rgb(38, 35, 35);
    color: #c4c4c4;
}
